<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div th:each="vehicle : ${vehicles}" class="column col-md-4">
                <a th:text="${vehicle.brand}" th:href="@{/vehicle/}+${vehicle.id_vehicle}"> 
                </a>
            </div>
        </div>
    </div>

    <div th:replace="fragments/layout.html :: foot"></div>
</body>

</html>